.do-basket-first {
  padding-bottom: 63px;
  // background-color: #f3f3f3;
}
.do-basket-first__header {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}
.do-basket-first__good-descrition-cover {
  display: flex;
}
.do-basket-first__good-caption {
  margin: 0;
}
.do-basket-first__good-descrition-cover {
  border-bottom: 1px solid #e1e1e8;
  margin-bottom: 16px;
}
.do-basket-first__good-description {
  margin: 0;
}
.do-basket-first__good-price-cover {
  display: flex;
  justify-content: space-between;
}
.do-basket-first__good-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
}
.do-basket-first__change-amount-cover {
  display: flex;

  color: #73798c;
}
.do-basket-first__goods-amount {
  margin: 0;
}
.do-basket-first__change-amount {
  border: none;
  padding: 12px;
  padding-top: 0;
  padding-bottom: 0;
  &:focus {
    outline: none;
    background-color: #dddddd;
  }
}
.do-basket-first__decrease {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f3f3f7;
}
.do-basket-first__goods-amount {
  background-color: #f3f3f7;
  padding-left: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  padding-right: 14px;
}
.do-basket-first__increase {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f3f3f7;
}
.do-basket-first__good-cover {
  margin-bottom: 10px;
}
.do-basket-first__add-header {
  background-color: #f3f3f3;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 18px;
}
.do-basket-first__add-list {
  background-color: #f3f3f3;
  display: flex;
}
.do-basket-first__add-list-item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 6px 15px rgba(6, 5, 50, 0.05);
  padding: 10px;
}
.do-basket-first__add-item-name {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}
.do-basket-first__add-item-price {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}
.do-basket-first__promo-input-cover {
  display: flex;
}
.do-basket-first__promo-input {
  background: #ffffff;
  border: 1px solid #b8bdcf;
  box-sizing: border-box;
  padding: 7px 0px 7px 16px;
  border-radius: 30px 0px 0px 30px;
  flex-grow: 2;
  margin: 0;
  &:focus {
    outline: none;
    border-color: #f96900;
  }
}
.do-basket-first__promo-button {
  flex-grow: 1;
  text-align: center;
  background: #f96900;
  border-radius: 0px 30px 30px 0px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-top: 7px;
  padding-bottom: 7px;
  &:focus {
    outline: none;
    border-color: #e6680e;
    text-shadow: 1px 1px #4e4e4e;
  }
}
.button-basket-first__next {
  position: relative;
  width: 100%;
  &::after {
    display: block;

    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    width: 14px;
    height: 14px;

    transform: rotate(-45deg);

    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-left: none;
    border-top: none;
  }
}
.button-basket-first__next-arrow {
  margin-left: auto;
}
.do-basket-first__price-total-cover {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 14px;
}
.do-basket-first__promo-header,
.do-basket-first__promo-total-price {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.do-basket-first__img {
  margin-right: 21px;
  width: 60px;
  height: 60px;
}
.do-basket-first__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}
.do-basket-first__its-a-gift {
  padding-left: 20px;
  position: relative;
  margin: 0;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/gift.png");
    left: 0;
    top: 3px;
  }
}
.do-basket-first__goods-list {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}
.do-basket-first__goods-list-item {
  background-color: #fff;
  padding-bottom: 12px;
  padding-top: 16px;
}
.do-basket-first__add-list-item {
  height: 108px;
}
.do-basket-first__add-list-item--large {
  display: flex;
  flex-direction: row;
  width: 240px;
  align-items: center;
}
.do-basket-first__add-list {
  padding-bottom: 24px;
}
.do-basket-first__promo-header {
  margin-top: 32px;
  margin-bottom: 38px;
}
.do-basket-first .do-cart-header,
.do-basket-first__goods-list-item,
.do-basket-first__header,
.do-basket-first__add-list,
.button-basket-first__next,
.do-basket-first__promo-cover,
.do-basket-first__add-header {
  padding-left: 16px;
  padding-right: 16px;
}
