.do-main-header {
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.do-header-logo-link {
  display: flex;
  align-items: baseline;
}

.do-header-logo-link__logo {
  width: 23px;
  height: 23px;
}
.do-header-logo-link__text {
  width: 127px;
  height: 16px;
  padding-bottom: 2px;
  padding-left: 7px;
}
.do-nav-close {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  display: block;

  &::after {
    display: block;
    content: "";
    position: absolute;

    background-color: #000;
    border-radius: 4px;
    width: 20px;
    height: 3px;
    top: 10px;
    left: 5px;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;

    background-color: #000;
    border-radius: 4px;
    width: 20px;
    height: 3px;
    bottom: 11px;
    left: 5px;
  }
}
@media (min-width: 1024px) {
  .do-main-header {
    display: none;
  }
  .do-offer-nav {
    display: none;
  }
}
