.do-promo-slider__list {
  display: flex;
  overflow: hidden;
}
.do-promo-slider__list-img {
  width: 250px;
  height: 93px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.1);
  &:hover {
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .do-promo-slider__list-img {
    width: 500px;
    height: 186px;
    margin-right: 20px;
    border-radius: 15px;
  }
}
@media (min-width: 1200px) {
  .do-promo-slider__list-img {
    width: 1060px;
    height: 300px;
    margin-right: 30px;
    border-radius: 20px;
  }
}
