.do-main-footer {
  color: #fff;
  background-color: #464c55;
  font-size: 16px;
  line-height: 24px;
}
.main-footer__email {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);
}
.main-footer__list-link {
  padding-bottom: 12px;
  display: block;
  opacity: 0.8;
  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}

.main-footer__list-caption {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0px;
}
.main-footer__social-list {
  padding-top: 20px;
  padding-bottom: 12px;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.1);
  display: flex;
  flex-direction: row;
}
.main-footer__social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba($color: #ffffff, $alpha: 0.3);
  margin-right: 6px;
  &:hover {
    opacity: 0.8;
  }
}
.main-footer__mobile-stores {
  display: flex;
}
.main-footer__mobile-stores-links {
  &:hover {
    opacity: 0.8;
  }
}
.main-footer__conditions-list-link {
  padding-bottom: 10px;
  display: block;
  &:hover {
    opacity: 0.8;
  }
}
.main-footer__logo-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
}
.main-footer__logo-copy {
  opacity: 0.6;
  padding-bottom: 4px;
  margin: 0;
}
.main-footer__logo-cover {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .do-main-footer {
    display: flex;
    flex-wrap: wrap;
  }
  .main-footer__email,
  .main-footer__social-list,
  .main-footer__mobile-stores {
    width: 100%;
  }
  .main-footer__social-list,
  .main-footer__mobile-stores {
    align-content: center;
    justify-content: center;
  }
  .main-footer__list-cover {
    flex-grow: 1;
  }
  .main-footer__phone {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 6px;
  }
  .main-footer__phone-subtext {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    opacity: 0.5;
  }
  .main-footer__conditions-list {
    width: 50%;
  }
}
