.do-delivery-form__button-back {
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  position: relative;
  border: none;

  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    transform: rotate(135deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none;
  }
}
