.do-final-order__abort-popup {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px;
}
.do-final-order__abort-header-cover {
  display: flex;
  justify-content: space-between;
}
.do-final-order__abort-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  max-width: 67%;
  margin: 0;
}
.do-final-order__abort-close-button {
  border-radius: 50%;
  border: 1px solid #ab9e94;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: relative;
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    top: 8px;
    left: 3px;
    background-color: #ab9e94;
    transform: rotate(45deg);
  }
  &::before {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    top: 8px;
    left: 3px;
    height: 1px;
    background-color: #ab9e94;
    transform: rotate(-45deg);
  }
}
.do-final-order__abort-paragraph {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
