.do-delivery-form__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}
.do-delivery-header-helper {
  width: 47px;
  height: 40px;
}
.do-delivery-form__caption-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.do-delivery-form__cover {
  background-color: #f3f3f7;
}
.do-delivery-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.do-delivery-form__input-cover {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  flex-grow: 1;
}
.do-delivery-form__input-cover:nth-child(even) {
  margin-right: 0;
}
.do-delivery-form__input {
  border-radius: 5px;
  border: 1px solid #d2d4dd;
  min-height: 48px;
  padding: 0;
  box-sizing: border-box;
}

.do-delivery-form__label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 22px;
}
.do-delivery-form__input-cover--first {
  margin-right: 10px;
  flex-grow: 2;
}

#delivery-textarea {
  border-radius: 5px;
  border: 1px solid #d2d4dd;
  resize: none;
}
.do-delivery-form__button-cover {
  background-color: #ffffff;
  display: flex;
}
.do-delivery-form__button {
  width: 100%;
}
.do-delivery-form__input-cover--textarea {
  margin-right: 0;
}
