html {
  font-size: $font-size;
  font-family: Nunito;

  color: $font-color;
  max-width: 1980px;
  line-height: 1.4;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
