@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}
.do-main-body {
  position: relative;
  overflow-x: hidden;
}
// .do-main-body > * {
//   padding-left: 16px;
//   padding-right: 16px;
// }
//All this is about modals and so on
.do-main-header,
.do-main-content,
.do-offer-slider__cover,
.do-delivery-form__cover,
.do-order-pending,
.do-order-final,
.do-product-card-full,
.do-main-footer {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 768px) {
  .do-main-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (min-width: 1024px) {
  .do-popular-slider,
  .do-pizza-section,
  .do-combo-section,
  .do-snacks-section,
  .do-deserts-section,
  .do-beverages-section,
  .do-more-section {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    max-width: 1060px;
  }
}
.logoanim {
  height: 200px;
  width: 1300px;
  background-color: black;
  padding-top: 30px;
}
.inner-anim-cover {
  padding-left: 30px;
}
@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.anim-logo-img {
  position: relative;
  z-index: 1;
  top: 28px;
  animation: roll 4s linear infinite;
}
.anim-logo-text {
  position: relative;
  z-index: 2;
  color: khaki;
  font-size: 40px;
  margin: 0;
  background-color: black;
  line-height: 30px;
  padding-left: 5px;
  font-family: "Tannenberg Fett";
}

@import "variables";
@import "scaffolding";
@import "ui-kit/ui-kit.scss";
@import "ui-kit/logo.scss";

@import "./ui-kit/buttons-radio.scss";
@import "./section.scss";
@import "./more-section/more-section.scss";
@import "./footer/footer.scss";

@import "./header/header.scss";
@import "./promo-slider/promo-slider.scss";
@import "./section/section-utils.scss";
@import "./main-nav/main-nav.scss";
@import "./popular-slider/popular-slider.scss";

//popup menu
@import "./popup/mob-menu-popup.scss";
@import "./offer-slider/offer-slider.scss";

//card-header
@import "./cart-header/cart-header.scss";
@import "./first-cart/first-cart.scss";

//button back delivery
@import "./delivery-button-back/delivery-button-back.scss";
@import "./delivery-form/delivery-form.scss";
@import "./do-order-pending/do-order-pending.scss";

//full card
@import "./full-card/full-card.scss";
@import "./do-delivery-change-popup-backdrop/do-delivery-change-popup-backdrop.scss";

@import "./order-final/order-final.scss";
@import "./abort-popup/abort-popup.scss";
@import "./pizza-card/pizza-card.scss";

@import "./ui-kit/header-nav.scss";

@import "./login-popup/login-popup.scss";

//Descktop cart is here
@import "./desk-cart/desk-cart-header.scss";
@import "./desk-cart/desk-cart.scss";
@import "./desk-cart/cart-order-contains.scss";

@import "./cart-second/cart-second.scss";
@import "./desk-cart/desk-cart-range.scss";
