.do-section-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
}

@media (min-width: 768px) {
  .mobile-button {
    display: none;
  }
  .do-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .do-card-descripted {
    border: none;
    min-width: 45%;
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .do-card-descripted__text-cover .button-add-to-cart {
    margin-top: auto;
  }
}
@media (min-width: 1200px) {
  .do-section-list {
    margin: 0 auto;
    justify-content: flex-start;
    margin-right: -25px;
  }
  .do-card-descripted {
    width: 250px;
    flex-direction: column;
    min-width: auto;
    padding: 0;
    margin-bottom: 60px;
    box-shadow: none;
    margin-right: 20px;
  }
  .do-card-descripted__text-cover {
    margin: 0;
  }
  .do-card-descripted__caption {
    min-width: fit-content;
  }
  .do-card-descripted__caption {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .do-card-descripted__text {
    font-size: 14px;
    line-height: 19px;
    width: auto;
    margin-bottom: 10px;
  }
  .do-card-descripted__img {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}
