.do-order-pending {
  background: #f3f3f7;
}

.do-order-pending-caption {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

.do-button-next {
  width: 47px;
  height: 47px;
  border: none;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 10px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    transform: rotate(-45deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none;
  }
}
.do-order-pending__address-text {
  margin: 0;
}
.do-order-pending__address,
.do-order-pending__address-extra,
.do-order-pending__bonuses,
.do-order-pending__payment-type {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-height: 63px;
}
.do-time-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../../images/clock.png");
}
.do-order-pending__address-comment {
  margin-left: 12px;
}
.do-order-pending__address,
.do-order-pending__bonuses {
  border-bottom: 1px solid #d2d4dd;
}
.do-order-pending__address-cover {
  padding-left: 16px;
}
.do-order-pending__address-cover,
.do-order-pending__payment-type-cover {
  background-color: #ffffff;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.do-order-pending__payment-type-cover {
  padding-left: 16px;
}
.do-order-pending__bonuses-pay {
  margin-left: auto;
  margin-right: 17px;
  border: none;
  background-color: transparent;
  color: #d15700;
  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
.do-order-pending__price-cover {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.do-order-pending__inner-button-cover {
  background-color: #ffffff;
  display: flex;
}
.do-order-pending__button {
  width: 100%;
  margin: 12px 0px 16px;
}
.do-order-pending__price-text,
.do-order-pending__price {
  margin: 0;
  margin-top: 12px;
}
.radio-cover {
  width: 100%;
}
input:checked + .do-buttons-radio-item {
  background-color: #ffffff;
}
.do-buttons-radio-item {
  display: block;
  text-align: center;
}
