.do-order-final__number {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 4px;
  color: #72788b;
}
.do-order-final__status {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 20px;
}
.do-order-final__progress-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}
.do-order-final__progress-bar-elements {
  width: 24%;
  height: 4px;
  background: #e1e1e8;
}

.do-order-final__address-cover {
  background: #f7f8f8;
  border-radius: 10px;
  padding: 18px 20px;
}
.do-order-final__address-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 4px;
}
.do-order-final__address {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
.do-order-final__secret-check-cover {
  padding: 24px 20px;
  background: #ffefe5;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.do-order-final__secret-check-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 12px;
}
.do-order-final__secret-check-paragraph {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 23px;
}
.do-order-final__button-pizza-picture {
  width: 100%;
  margin-bottom: 19px;
}
.do-order-final__kitchen-header {
  margin: 0;
}
.do-order-final__kitchen-address {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.do-order-final__order-list-cover {
  background: #f7f8f8;
  border-radius: 10px;
  padding: 30px 20px;
}
.do-order-final__order-list-item {
  margin-bottom: 20px;
}
.do-order-list-item__first-line {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
}
.do-order-list-item__name,
.do-order-list-item__price,
.do-order-list-item__second-line {
  margin: 0;
}
.do-order-list-item__second-line {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #72788b;
}
.do-order-final__order-full-price {
  border-top: 1px solid #dcdcdc;
  padding-top: 20px;
}
.do-order-final__decline-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 13px;
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.do-order-final__buttons-cover {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.do-feedback-button,
.do-back-to-menu-buttom {
  padding-top: 13px;
  padding-bottom: 13px;
}
.do-final-order__abort-button {
  padding: 9px 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
