.do-heading {
  margin: 10px 0 20px;
  font-size: 18px;
  letter-spacing: 0.04em;
}
.do-section-header {
  margin: 20px 0 30px;
  font-size: 20px;
  line-height: 27px;
}
.do-section-header--pizza {
  display: none;
}
@media (min-width: 1024px) {
  .do-section-header--pizza {
    display: block;
  }
}
