.main-nav__list {
  display: flex;
  overflow: hidden;
  margin: 30px 0;
}

.main-nav__list-link {
  font-family: Nunito;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  padding: 9px 21px;
  background-color: #f3f3f7;
  color: #fff;
  border: none;
  display: block;
  margin-right: 8px;
  :hover {
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
  &:visited {
    color: initial;
  }
}

.main-nav__list-link--active {
  background-color: #fff0e6;
  color: #d15700;
  &:visited {
    color: #d15700;
  }
}
