@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf"); }

.do-main-body {
  position: relative;
  overflow-x: hidden; }

.do-main-header,
.do-main-content,
.do-offer-slider__cover,
.do-delivery-form__cover,
.do-order-pending,
.do-order-final,
.do-product-card-full,
.do-main-footer {
  padding-left: 16px;
  padding-right: 16px; }

@media (min-width: 768px) {
  .do-main-content {
    padding-left: 0px;
    padding-right: 0px; } }

@media (min-width: 1024px) {
  .do-popular-slider,
  .do-pizza-section,
  .do-combo-section,
  .do-snacks-section,
  .do-deserts-section,
  .do-beverages-section,
  .do-more-section {
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    max-width: 1060px; } }

.logoanim {
  height: 200px;
  width: 1300px;
  background-color: black;
  padding-top: 30px; }

.inner-anim-cover {
  padding-left: 30px; }

@-webkit-keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes roll {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

.anim-logo-img {
  position: relative;
  z-index: 1;
  top: 28px;
  -webkit-animation: roll 4s linear infinite;
          animation: roll 4s linear infinite; }

.anim-logo-text {
  position: relative;
  z-index: 2;
  color: khaki;
  font-size: 40px;
  margin: 0;
  background-color: black;
  line-height: 30px;
  padding-left: 5px;
  font-family: "Tannenberg Fett"; }

html {
  font-size: 1rem;
  font-family: Nunito;
  color: #000;
  max-width: 1980px;
  line-height: 1.4; }

body {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

a:visited {
  color: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  content: "";
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  border: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  display: none; }

ul {
  margin: 0;
  padding: 0; }

.button {
  font-family: Nunito;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  padding: 9px 21px;
  background-color: #f96900;
  color: #fff;
  border: none; }
  .button:focus {
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }

.button-cart__number {
  padding-left: 14px;
  margin-left: 11px;
  border-left: 1px solid rgba(255, 255, 255, 0.5); }

.button-login {
  background-color: #f3f3f7;
  padding: 6px 15px;
  color: #5c6370; }
  .button-login:hover {
    color: #000; }

.button-add-to-cart {
  min-width: 96px;
  box-sizing: border-box;
  background-color: #fff0e6;
  color: #d15700; }
  .button-add-to-cart:hover {
    background-color: #ffd0b2;
    color: #d55406; }

.do-product-card {
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
  width: 250px;
  box-sizing: border-box;
  padding: 14px 18px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .do-product-card:hover {
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.1); }

.do-product-card__img {
  margin-right: 22px; }

.do-product-card__text-cover {
  font-family: Nunito, sans-serif;
  font-size: 14px;
  line-height: 19.1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 57px; }

.do-product-card__caption {
  font-size: 14px;
  line-height: 19.1px;
  margin: 0;
  font-weight: 600; }

.do-product-card__price {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold; }

.do-big-promo__link {
  display: block;
  margin: 0px 30px;
  height: 300px;
  background-color: papayawhip; }

.do-big-promo {
  display: block; }

.do-popup-empty-cart {
  width: 400px;
  height: 420px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  box-sizing: border-box;
  padding: 37px 51px;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05); }

.do-popup-empty-cart__caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px; }

.do-popup-empty-cart__text {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.main-nav__list-link {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px; }
  .main-nav__list-link:visited {
    color: #000000; }
  .main-nav__list-link:hover {
    opacity: 0.7; }
  .main-nav__list-link:active {
    opacity: 0.85; }

.main-nav__list-link--orange {
  color: #f96900; }

.main-nav__list-item--onair {
  position: relative; }
  .main-nav__list-item--onair::before {
    display: block;
    border-radius: 50%;
    background-color: #f96900;
    position: absolute;
    top: 8px;
    left: 0px;
    width: 5px;
    height: 5px;
    content: ""; }

.do-nav-phone {
  margin: 0;
  font-family: Nunito;
  font-weight: 600; }

.do-nav-phone__sub {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  color: #999999; }

.popup-rating {
  position: relative;
  background-color: #3a3838;
  border-radius: 10px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 36px 10px 14px; }
  .popup-rating::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 47%;
    background-color: #3a3838;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.popup-rating__text-conditions {
  opacity: 0.5; }

.popup-rating__text-container {
  width: 189px; }

.popup-rating__text-caption {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold; }

.popup-rating__text-subcaption {
  font-size: 14px;
  line-height: 19px; }

.popup-rating__text-caption--stars {
  color: #ffd112; }

.logo-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.logo__image {
  margin-right: 14px;
  margin-top: -2px; }

.logo__text-network {
  margin: 0;
  font-size: 12px;
  line-height: 16px; }

.do-card-descripted {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 18px;
  padding-top: 16px;
  border-bottom: 1px solid #c5c5c5; }
  .do-card-descripted:last-of-type {
    border-bottom: none; }

.do-card-descripted__text-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 8px; }

.do-card-descripted__caption {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  max-width: 143px;
  margin: 0;
  margin-bottom: 6px; }

.do-card-descripted__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  width: 156px; }

.do-card-descripted__buttons-cover {
  display: none; }

@media (min-width: 768px) {
  .do-card-descripted__buttons-cover {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
  .button-add-to-cart {
    margin-right: 20px; } }

@media (min-width: 1024px) {
  .do-card-descripted__text-cover {
    height: 100%; } }

.do-big-promo {
  border-radius: 15px; }

.logo-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.logo__image {
  margin-right: 14px;
  margin-top: -2px; }

.logo__text-network {
  margin: 0;
  font-size: 12px;
  line-height: 16px; }

.do-buttons-radio {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: #e1e1e8;
  padding: 4px;
  border-radius: 100px; }

.do-buttons-radio-item {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  border-radius: 100px;
  background-color: #e1e1e8; }
  .do-buttons-radio-item:focus {
    outline: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75); }

.do-buttons-radio-item--active {
  background-color: #ffffff; }

.do-section-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px; }

@media (min-width: 768px) {
  .mobile-button {
    display: none; }
  .do-section-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .do-card-descripted {
    border: none;
    min-width: 45%;
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
    margin-bottom: 20px;
    padding-left: 20px; }
  .do-card-descripted__text-cover .button-add-to-cart {
    margin-top: auto; } }

@media (min-width: 1200px) {
  .do-section-list {
    margin: 0 auto;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: -25px; }
  .do-card-descripted {
    width: 250px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    min-width: auto;
    padding: 0;
    margin-bottom: 60px;
    box-shadow: none;
    margin-right: 20px; }
  .do-card-descripted__text-cover {
    margin: 0; }
  .do-card-descripted__caption {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content; }
  .do-card-descripted__caption {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px; }
  .do-card-descripted__text {
    font-size: 14px;
    line-height: 19px;
    width: auto;
    margin-bottom: 10px; }
  .do-card-descripted__img {
    margin: 0 auto;
    margin-bottom: 5px; } }

.do-more-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #f96900;
  margin: 0;
  margin-bottom: 20px; }

.do-more-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px; }

.do-more__inner-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 313px;
  margin-right: 43px; }

.do-more-section--flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-section-header--more-section {
  width: 100%; }

.do-more-section {
  display: none; }

@media (min-width: 768px) {
  .do-more-section {
    display: block;
    margin-bottom: 70px; } }

.do-main-footer {
  color: #fff;
  background-color: #464c55;
  font-size: 16px;
  line-height: 24px; }

.main-footer__email {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.main-footer__list-link {
  padding-bottom: 12px;
  display: block;
  opacity: 0.8; }
  .main-footer__list-link:hover {
    opacity: 1; }
  .main-footer__list-link:active {
    opacity: 0.8; }
  .main-footer__list-link:focus {
    outline: none;
    text-decoration: underline; }

.main-footer__list-caption {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 0px; }

.main-footer__social-list {
  padding-top: 20px;
  padding-bottom: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.main-footer__social-list-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 6px; }
  .main-footer__social-list-link:hover {
    opacity: 0.8; }

.main-footer__mobile-stores {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main-footer__mobile-stores-links:hover {
  opacity: 0.8; }

.main-footer__conditions-list-link {
  padding-bottom: 10px;
  display: block; }
  .main-footer__conditions-list-link:hover {
    opacity: 0.8; }

.main-footer__logo-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 20px; }

.main-footer__logo-copy {
  opacity: 0.6;
  padding-bottom: 4px;
  margin: 0; }

.main-footer__logo-cover {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (min-width: 768px) {
  .do-main-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .main-footer__email,
  .main-footer__social-list,
  .main-footer__mobile-stores {
    width: 100%; }
  .main-footer__social-list,
  .main-footer__mobile-stores {
    -webkit-align-content: center;
        -ms-flex-line-pack: center;
            align-content: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .main-footer__list-cover {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .main-footer__phone {
    color: #fff;
    font-weight: 600;
    font-size: 26px;
    line-height: 26px;
    margin: 0;
    margin-bottom: 6px; }
  .main-footer__phone-subtext {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    opacity: 0.5; }
  .main-footer__conditions-list {
    width: 50%; } }

.do-main-header {
  height: 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.do-header-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.do-header-logo-link__logo {
  width: 23px;
  height: 23px; }

.do-header-logo-link__text {
  width: 127px;
  height: 16px;
  padding-bottom: 2px;
  padding-left: 7px; }

.do-nav-close {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  position: relative;
  display: block; }
  .do-nav-close::after {
    display: block;
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 4px;
    width: 20px;
    height: 3px;
    top: 10px;
    left: 5px; }
  .do-nav-close::before {
    display: block;
    content: "";
    position: absolute;
    background-color: #000;
    border-radius: 4px;
    width: 20px;
    height: 3px;
    bottom: 11px;
    left: 5px; }

@media (min-width: 1024px) {
  .do-main-header {
    display: none; }
  .do-offer-nav {
    display: none; } }

.do-promo-slider__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden; }

.do-promo-slider__list-img {
  width: 250px;
  height: 93px;
  margin-right: 10px;
  border-radius: 10px;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.1); }
  .do-promo-slider__list-img:hover {
    box-shadow: none; }

@media (min-width: 768px) {
  .do-promo-slider__list-img {
    width: 500px;
    height: 186px;
    margin-right: 20px;
    border-radius: 15px; } }

@media (min-width: 1200px) {
  .do-promo-slider__list-img {
    width: 1060px;
    height: 300px;
    margin-right: 30px;
    border-radius: 20px; } }

.do-heading {
  margin: 10px 0 20px;
  font-size: 18px;
  letter-spacing: 0.04em; }

.do-section-header {
  margin: 20px 0 30px;
  font-size: 20px;
  line-height: 27px; }

.do-section-header--pizza {
  display: none; }

@media (min-width: 1024px) {
  .do-section-header--pizza {
    display: block; } }

.main-nav__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin: 30px 0; }

.main-nav__list-link {
  font-family: Nunito;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  padding: 9px 21px;
  background-color: #f3f3f7;
  color: #fff;
  border: none;
  display: block;
  margin-right: 8px; }
  .main-nav__list-link:focus {
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2); }
  .main-nav__list-link:visited {
    color: initial; }

.main-nav__list-link--active {
  background-color: #fff0e6;
  color: #d15700; }
  .main-nav__list-link--active:visited {
    color: #d15700; }

.do-product-card__list {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.do-main-body .do-mob-menu {
  padding-left: 0px;
  padding-right: 0px; }

.do-mob-menu {
  background-color: #000000;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 45px; }

.do-mob-menu__logo-cover {
  padding-left: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.do-button-close {
  border: none;
  background-color: transparent;
  position: relative;
  width: 30px;
  height: 30px; }
  .do-button-close::after {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .do-button-close::before {
    display: block;
    position: absolute;
    content: "";
    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.do-mob-menu__stats-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 16px;
  margin-left: 44px;
  max-width: 500px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.do-mob-menu__stats-info {
  background-color: #4c4c4c;
  border-radius: 50%;
  color: #fff;
  width: 24px;
  height: 24px; }

.do-mob-menu__stats-time,
.do-mob-menu__stats-rate {
  margin: 0;
  font-size: 20px;
  line-height: 27px; }

.do-mob-menu__stats-time {
  margin-right: 10px; }

.do-mob-menu__stats-rate {
  color: #ffd112;
  margin-right: 6px; }

.do-mob-menu__stars-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 22px; }

.do-mob-menu__list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.do-mob-menu__list-link {
  font-size: 20px;
  line-height: 27px;
  padding-top: 26px;
  display: block; }

.do-mob-menu__list-item:last-of-type .do-mob-menu__list-link {
  padding-bottom: 26px; }

.do-mob-menu__list-item {
  margin-left: 44px; }

.do-mob-menu__stars-list-item {
  width: 16px;
  height: 16px;
  background-image: url("../../images/star.svg");
  background-size: contain;
  background-repeat: no-repeat; }

.do-mob-menu__stars-list-item--half {
  background-image: url("../../images/dark-star.svg"); }

.do-mob-menu__description {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5); }

.do-mob-menu__stats-city-cover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 44px; }

.do-mob-menu__text-container {
  margin-left: 44px; }

.do-mob-menu__stats-inner-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.do-mob-menu__paragraph {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px; }

.do-mob-menu__phone,
.do-mob-menu__appstore,
.do-mob-menu__city-btn {
  position: relative; }
  .do-mob-menu__phone::before,
  .do-mob-menu__appstore::before,
  .do-mob-menu__city-btn::before {
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    content: ""; }

.do-mob-menu__phone::before {
  width: 13px;
  height: 24px;
  background-image: url("../../images/phone-icon.png"); }

.do-mob-menu__appstore::before {
  width: 16px;
  height: 19px;
  left: -33px;
  background-image: url("../../images/apple-icon.png"); }

.do-mob-menu__city-btn::before {
  width: 10px;
  height: 16px;
  left: -25px;
  background-image: url("../../images/map-pin-icon.png"); }

.backdrop {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  min-height: 100vh; }

.do-offer-slider__cover {
  margin-top: 85px;
  position: relative;
  z-index: 1; }

.do-offer-slider__button-close {
  position: absolute;
  top: -60px;
  left: 80vw; }
  .do-offer-slider__button-close::before {
    left: 0;
    right: 20px; }
  .do-offer-slider__button-close::after {
    left: 0;
    right: 20px; }

.do-offer-slider__list {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-offer-slider__list-item {
  margin-left: 20px;
  background-color: #fff;
  margin-right: 20px;
  padding: 16px;
  border-radius: 15px; }

.do-offer-slider__caption {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  margin-bottom: 12px;
  line-height: 22px; }

.do-offer-slider__offer-description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  max-width: 255px; }

.do-offer-slider__button {
  background-color: #fff0e6;
  color: #d15700;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  border-radius: 20px;
  margin-top: 80px; }

.do-cart-header {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #f3f3f7; }

.do-cart-header__button-back {
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  position: relative;
  border: none;
  border-right: 1px solid #f3f3f7; }
  .do-cart-header__button-back::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none; }

.do-basket-first {
  padding-bottom: 63px; }

.do-basket-first__header {
  margin: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px; }

.do-basket-first__good-descrition-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-basket-first__good-caption {
  margin: 0; }

.do-basket-first__good-descrition-cover {
  border-bottom: 1px solid #e1e1e8;
  margin-bottom: 16px; }

.do-basket-first__good-description {
  margin: 0; }

.do-basket-first__good-price-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.do-basket-first__good-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0; }

.do-basket-first__change-amount-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #73798c; }

.do-basket-first__goods-amount {
  margin: 0; }

.do-basket-first__change-amount {
  border: none;
  padding: 12px;
  padding-top: 0;
  padding-bottom: 0; }
  .do-basket-first__change-amount:focus {
    outline: none;
    background-color: #dddddd; }

.do-basket-first__decrease {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f3f3f7; }

.do-basket-first__goods-amount {
  background-color: #f3f3f7;
  padding-left: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  padding-right: 14px; }

.do-basket-first__increase {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #f3f3f7; }

.do-basket-first__good-cover {
  margin-bottom: 10px; }

.do-basket-first__add-header {
  background-color: #f3f3f3;
  margin: 0;
  padding-top: 24px;
  padding-bottom: 18px; }

.do-basket-first__add-list {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-basket-first__add-list-item {
  background-color: #ffffff;
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0px 6px 15px rgba(6, 5, 50, 0.05);
  padding: 10px; }

.do-basket-first__add-item-name {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px; }

.do-basket-first__add-item-price {
  margin: 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px; }

.do-basket-first__promo-input-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-basket-first__promo-input {
  background: #ffffff;
  border: 1px solid #b8bdcf;
  box-sizing: border-box;
  padding: 7px 0px 7px 16px;
  border-radius: 30px 0px 0px 30px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 0; }
  .do-basket-first__promo-input:focus {
    outline: none;
    border-color: #f96900; }

.do-basket-first__promo-button {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  background: #f96900;
  border-radius: 0px 30px 30px 0px;
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-top: 7px;
  padding-bottom: 7px; }
  .do-basket-first__promo-button:focus {
    outline: none;
    border-color: #e6680e;
    text-shadow: 1px 1px #4e4e4e; }

.button-basket-first__next {
  position: relative;
  width: 100%; }
  .button-basket-first__next::after {
    display: block;
    content: "";
    position: absolute;
    top: 10px;
    right: 20px;
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-left: none;
    border-top: none; }

.button-basket-first__next-arrow {
  margin-left: auto; }

.do-basket-first__price-total-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 14px; }

.do-basket-first__promo-header,
.do-basket-first__promo-total-price {
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; }

.do-basket-first__img {
  margin-right: 21px;
  width: 60px;
  height: 60px; }

.do-basket-first__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px; }

.do-basket-first__its-a-gift {
  padding-left: 20px;
  position: relative;
  margin: 0; }
  .do-basket-first__its-a-gift::before {
    display: block;
    content: "";
    position: absolute;
    width: 12px;
    height: 14px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../images/gift.png");
    left: 0;
    top: 3px; }

.do-basket-first__goods-list {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3; }

.do-basket-first__goods-list-item {
  background-color: #fff;
  padding-bottom: 12px;
  padding-top: 16px; }

.do-basket-first__add-list-item {
  height: 108px; }

.do-basket-first__add-list-item--large {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 240px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.do-basket-first__add-list {
  padding-bottom: 24px; }

.do-basket-first__promo-header {
  margin-top: 32px;
  margin-bottom: 38px; }

.do-basket-first .do-cart-header,
.do-basket-first__goods-list-item,
.do-basket-first__header,
.do-basket-first__add-list,
.button-basket-first__next,
.do-basket-first__promo-cover,
.do-basket-first__add-header {
  padding-left: 16px;
  padding-right: 16px; }

.do-delivery-form__button-back {
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  position: relative;
  border: none; }
  .do-delivery-form__button-back::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none; }

.do-delivery-form__caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0; }

.do-delivery-header-helper {
  width: 47px;
  height: 40px; }

.do-delivery-form__caption-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.do-delivery-form__cover {
  background-color: #f3f3f7; }

.do-delivery-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-delivery-form__input-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  margin-right: 20px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.do-delivery-form__input-cover:nth-child(even) {
  margin-right: 0; }

.do-delivery-form__input {
  border-radius: 5px;
  border: 1px solid #d2d4dd;
  min-height: 48px;
  padding: 0;
  box-sizing: border-box; }

.do-delivery-form__label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 4px;
  line-height: 22px; }

.do-delivery-form__input-cover--first {
  margin-right: 10px;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

#delivery-textarea {
  border-radius: 5px;
  border: 1px solid #d2d4dd;
  resize: none; }

.do-delivery-form__button-cover {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-delivery-form__button {
  width: 100%; }

.do-delivery-form__input-cover--textarea {
  margin-right: 0; }

.do-order-pending {
  background: #f3f3f7; }

.do-order-pending-caption {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px; }

.do-button-next {
  width: 47px;
  height: 47px;
  border: none;
  background-color: transparent;
  position: relative;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: 10px; }
  .do-button-next::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none; }

.do-order-pending__address-text {
  margin: 0; }

.do-order-pending__address,
.do-order-pending__address-extra,
.do-order-pending__bonuses,
.do-order-pending__payment-type {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  min-height: 63px; }

.do-time-icon {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-image: url("../../images/clock.png"); }

.do-order-pending__address-comment {
  margin-left: 12px; }

.do-order-pending__address,
.do-order-pending__bonuses {
  border-bottom: 1px solid #d2d4dd; }

.do-order-pending__address-cover {
  padding-left: 16px; }

.do-order-pending__address-cover,
.do-order-pending__payment-type-cover {
  background-color: #ffffff;
  border-radius: 11px;
  margin-top: 20px;
  margin-bottom: 30px; }

.do-order-pending__payment-type-cover {
  padding-left: 16px; }

.do-order-pending__bonuses-pay {
  margin-left: auto;
  margin-right: 17px;
  border: none;
  background-color: transparent;
  color: #d15700; }
  .do-order-pending__bonuses-pay:focus {
    outline: none;
    text-decoration: underline; }

.do-order-pending__price-cover {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; }

.do-order-pending__inner-button-cover {
  background-color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-order-pending__button {
  width: 100%;
  margin: 12px 0px 16px; }

.do-order-pending__price-text,
.do-order-pending__price {
  margin: 0;
  margin-top: 12px; }

.radio-cover {
  width: 100%; }

input:checked + .do-buttons-radio-item {
  background-color: #ffffff; }

.do-buttons-radio-item {
  display: block;
  text-align: center; }

.do-product-card-full__product-ingredients-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.do-product-card-full__product-ingredients-item {
  color: #000; }

.remove-ingredient-button {
  width: 14px;
  height: 14px;
  top: -4px;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
  border: 1px solid #000; }
  .remove-ingredient-button::after {
    position: absolute;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #000;
    content: "";
    top: 5px;
    left: 2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .remove-ingredient-button::before {
    position: absolute;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #000;
    content: "";
    top: 5px;
    left: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .remove-ingredient-button:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2); }

.do-delivery-change-popup-backdrop {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -webkit-justify-content: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch; }

.do-delivery-change-popup__close-button {
  width: 47px;
  height: 47px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0; }
  .do-delivery-change-popup__close-button::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    left: 8px;
    top: 0px;
    height: 2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: #000; }
  .do-delivery-change-popup__close-button::before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    left: 8px;
    top: 2px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background-color: #000; }

.do-delivery-change-popup {
  margin-top: auto;
  position: relative;
  background-color: #f3f3f7;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

.do-delivery-change__amount {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 15px; }

.do-delivery-change__question {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px; }

.do-delivery-change__input {
  border: 1px solid #f96900;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 25px;
  margin-bottom: 22px;
  width: 100%; }

.do-delivery-change__button-save {
  display: block;
  width: 100%;
  margin-bottom: 20px; }

.do-order-final__number {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 4px;
  color: #72788b; }

.do-order-final__status {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 20px; }

.do-order-final__progress-bar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 36px; }

.do-order-final__progress-bar-elements {
  width: 24%;
  height: 4px;
  background: #e1e1e8; }

.do-order-final__address-cover {
  background: #f7f8f8;
  border-radius: 10px;
  padding: 18px 20px; }

.do-order-final__address-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-bottom: 4px; }

.do-order-final__address {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px; }

.do-order-final__secret-check-cover {
  padding: 24px 20px;
  background: #ffefe5;
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 40px; }

.do-order-final__secret-check-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 12px; }

.do-order-final__secret-check-paragraph {
  margin: 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 23px; }

.do-order-final__button-pizza-picture {
  width: 100%;
  margin-bottom: 19px; }

.do-order-final__kitchen-header {
  margin: 0; }

.do-order-final__kitchen-address {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.do-order-final__order-list-cover {
  background: #f7f8f8;
  border-radius: 10px;
  padding: 30px 20px; }

.do-order-final__order-list-item {
  margin-bottom: 20px; }

.do-order-list-item__first-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px; }

.do-order-list-item__name,
.do-order-list-item__price,
.do-order-list-item__second-line {
  margin: 0; }

.do-order-list-item__second-line {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #72788b; }

.do-order-final__order-full-price {
  border-top: 1px solid #dcdcdc;
  padding-top: 20px; }

.do-order-final__decline-button {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  padding-top: 13px;
  padding-bottom: 14px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.do-order-final__buttons-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.do-feedback-button,
.do-back-to-menu-buttom {
  padding-top: 13px;
  padding-bottom: 13px; }

.do-final-order__abort-button {
  padding: 9px 0;
  width: 100%;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.do-final-order__abort-popup {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px; }

.do-final-order__abort-header-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.do-final-order__abort-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  max-width: 67%;
  margin: 0; }

.do-final-order__abort-close-button {
  border-radius: 50%;
  border: 1px solid #ab9e94;
  width: 20px;
  height: 20px;
  background-color: transparent;
  position: relative; }
  .do-final-order__abort-close-button::after {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    top: 8px;
    left: 3px;
    background-color: #ab9e94;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .do-final-order__abort-close-button::before {
    display: block;
    position: absolute;
    content: "";
    width: 12px;
    top: 8px;
    left: 3px;
    height: 1px;
    background-color: #ab9e94;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.do-final-order__abort-paragraph {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 20px; }

.do-buttons-radio--pizza-size {
  margin-bottom: 12px;
  margin-top: 20px; }

.do-buttons-radio--pizza-dough button {
  color: #a7a7a7; }

.do-buttons-radio--pizza-dough .do-buttons-radio-item--active {
  color: #000; }

.do-product-card-full__topings-caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 30px; }

.do-product-card-full__button-extend {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05); }
  .do-product-card-full__button-extend:focus {
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ec1212; }
  .do-product-card-full__button-extend::after {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid #686868;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-left: none;
    border-top: none;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 15px; }

.do-product-card-full__product-header-cover {
  position: relative; }

.do-product-card-full__product-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0; }

.do-product-card-full__product-info-button {
  border-radius: 50%;
  background: #f0f2f5;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0; }

.do-product-card-full__toppings-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.do-product-card-full__toppings-item {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05);
  border-radius: 12px;
  width: 25%;
  width: 140px;
  height: 150px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px; }

.do-product-card-full__topping-name {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  min-height: 32px; }

.do-product-card-full__topping-price {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center; }

.do-product-card-full__toppings-item {
  background-repeat: no-repeat;
  background-position: center 15px; }

.do-product-card-full__toppings-item--checked {
  border: 2px solid #f96900; }
  .do-product-card-full__toppings-item--checked::after {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f96900;
    top: 11px;
    right: 11px; }
  .do-product-card-full__toppings-item--checked::before {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    border: 2px solid #f96900;
    border-top: none;
    border-right: none;
    top: 15px;
    right: 15px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.do-product-card-full__toppings-item--cheezy-rim {
  background-image: url("../../images/cheezy-rim.png");
  background-position: left 15px; }

.do-product-card-full__toppings-item--mushrooms {
  background-image: url("../../images/mushrooms.png"); }

.do-product-card-full__toppings-item--brynza {
  background-image: url("../../images/brynza.png"); }

.do-product-card-full__toppings-item--chicken {
  background-image: url("../../images/chicken.png"); }

.do-product-card-full__button-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px; }

.do-product-card-full__button {
  width: 100%; }

.do-product-card-full__toppings-item {
  border: 2px solid transparent;
  box-sizing: border-box; }

input:checked + .do-product-card-full__toppings-item {
  width: 140px;
  height: 150px;
  border: 2px solid #f96900;
  position: relative; }
  input:checked + .do-product-card-full__toppings-item ::before {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    border: 2px solid #f96900;
    border-top: none;
    border-right: none;
    top: 15px;
    right: 15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  input:checked + .do-product-card-full__toppings-item ::after {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f96900;
    top: 11px;
    right: 11px; }

.do-product-card-full__toppings-list-item {
  width: 140px;
  height: 150px;
  box-sizing: border-box; }

.delivery__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-right: 10px; }

.delivery-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.delivery__city {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #f96900;
  margin: 0; }

.deliver-rate__cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.delivery__rate-hover {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer; }
  .delivery__rate-hover::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    top: 5px;
    left: 10px; }

.delivery__time {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0; }

.delivery__rate {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  position: relative; }
  .delivery__rate::after {
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 0;
    right: -20px;
    background-image: url("../../images/star.svg");
    background-size: contain; }

.delivery__rate-hover {
  margin: 0; }

.do-main-header__nav-side-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo-cover,
.delivery-cover {
  margin-right: 14%; }

.do-main-header--desktop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.do-main-header__buttons-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

.do-main-header__button-login {
  background-color: #f3f3f7;
  color: black;
  border-radius: 1000px;
  padding: 6px 15px;
  border: none;
  box-sizing: border-box; }

.do-main-header__button-cart {
  margin-bottom: 38px; }

.do-main-header--desktop {
  display: none; }

@media (min-width: 1024px) {
  .do-main-header--desktop {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .main-nav__list-link {
    background-color: transparent;
    color: #000;
    padding-left: 0; }
    .main-nav__list-link:hover {
      box-shadow: none;
      opacity: 0.8; }
    .main-nav__list-link:focus {
      text-decoration: underline;
      box-shadow: none; }
  .main-nav__list {
    margin-top: 45px;
    margin-bottom: 38px; }
  .main-nav__list-item--onair::before {
    display: block;
    border-radius: 50%;
    background-color: #f96900;
    position: absolute;
    top: 15px;
    left: -10px;
    width: 5px;
    height: 5px;
    content: ""; }
  .do-main-header--desktop {
    padding-top: 25px; } }

@media (min-width: 1200px) {
  .do-main-header--desktop {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto; } }

.do-login-popup {
  width: 560px;
  box-sizing: border-box;
  height: 350px;
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  margin: 138px auto;
  box-shadow: 0 0 4px 5px #73798c; }

.do-button-close--login-popup {
  background-color: red;
  position: absolute;
  top: 10px;
  right: -50px; }

.do-login-popup__caption {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 37px; }

.do-login-popup__form-fieldset {
  margin: 0;
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 20px; }

.do-login-popup__change-phone {
  color: #f96900;
  font-family: Arial;
  background-color: transparent;
  border: none;
  position: absolute;
  border-bottom: 1px dashed #f96900;
  font-size: 14px;
  line-height: 16px;
  top: 10px;
  right: 25px; }

.do-login-popup__input {
  font-size: 16px;
  line-height: 22px;
  margin-left: 26px;
  width: 280px;
  border: 1px solid #d1d3d9;
  padding: 9px 16px;
  box-sizing: border-box; }

.do-login-popup__input--disabled {
  background-color: #f7f8f8;
  opacity: 0.5; }

.do-login-popup__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.do-login-popup__button-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px; }

.do-login-popup__form-conditions {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #73798c;
  width: 250px; }

.do-login-popup__form-conditions-link {
  text-decoration: underline; }

.login-popup__button-submit {
  margin-right: 20px;
  width: 182px; }

.do-login-popup__input--code {
  width: 100px; }

.do-login-popup__form-fieldset label {
  min-width: 150px;
  display: inline-block; }

.login-code-timer {
  font-family: Arial;
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  color: #73798c; }

.desk-cart-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5; }

.desk-cart-header__status-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0; }

.status-list-item__number,
.status-list-item__status {
  margin: 0; }

.status-list-item__number {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  padding: 7px 11px 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  height: 20px; }

.desk-cart-header__status-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.status-list-item__status {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px; }

.desk-cart-header__status-list-item {
  position: relative; }
  .desk-cart-header__status-list-item::after {
    border-bottom: 1px dashed #aeadae; }

.goods-list-item__full-price {
  margin: 0; }

.desk-cart__section-header {
  margin-top: 60px; }

.desk-cart-header__status-list {
  width: 300px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.desk-cart-header__status-list-item {
  position: relative; }
  .desk-cart-header__status-list-item::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 114px;
    border-bottom: 1px dashed #aeadae;
    z-index: -1;
    top: 15px; }

.status-list-item__number {
  position: relative;
  z-index: 2; }

.desk-cart {
  padding-left: 100px;
  padding-right: 100px; }

.goods-list-item__img {
  width: 64px;
  height: 64px; }

.desk-cart__good-nam {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; }

.desk-cart__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  /* Gray dark */
  color: #73798c; }

.desk-cart__goods-list {
  border-top: 1px solid #e5e5e5; }

.desk-cart__goods-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.goods-list-item__full-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px; }

.desk-cart__good-name,
.desk-cart__good-description {
  margin: 0; }

.goods-list-item__button-remove-item {
  background-color: transparent;
  border: none;
  background-image: url("../../images/svg-trash.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 18px;
  background-size: contain; }

.goods-list-item__button-remove-item:hover {
  background-image: url("../../images/svg-trash-active.svg"); }

.desk-cart__section {
  width: 700px;
  margin-left: auto;
  margin-right: auto; }

.desk-cart__goods-list-item {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  padding-top: 25px; }

.desk-card__change-amount-btn {
  padding: 6px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 0;
  margin-top: 16px; }

.desk-cart__wanna-add-qstn-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.desk-cart__wanna-add-qstn-list .do-product-card {
  margin-right: 20px; }

.souce-list-item__name {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px; }

.desk-cart__souce-list-item {
  width: 130px;
  height: 200px;
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 20px;
  border: 1px solid #e1e1e8;
  box-sizing: border-box;
  border-radius: 10px; }

.desk-cart__souce-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.souce-list-item__img {
  width: 64px;
  height: 64px; }

.desk-cart__souce-list-item .button-add-to-cart {
  margin-right: 0; }

.desk-cart__souce-list-item .do-basket-first__change-amount-cover,
.desk-cart__souce-list-item .button-add-to-cart {
  margin-top: auto; }

.do-basket-first__change-amount-cover {
  width: 96px;
  height: 32px; }

.do-basket-first__goods-amount {
  padding-top: 4px; }

.desk-card__promo-cover {
  width: 190px; }

.desk-cart__order-price {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  text-align: right; }

.order-price {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  color: #f96900; }

.desk-cart__button {
  padding: 13px 38px;
  border-radius: 50px;
  border: none;
  position: relative; }

.desk-cart__get-back {
  color: #73798c;
  background: #f3f3f7;
  padding-left: 60px; }
  .desk-cart__get-back::before {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #73798c;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 20px;
    top: 14px; }

.desk-cart__to-second-page {
  color: #ffffff;
  background-color: #f96900;
  padding-right: 60px; }
  .desk-cart__to-second-page::before {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(226deg);
        -ms-transform: rotate(226deg);
            transform: rotate(226deg);
    right: 20px;
    top: 14px; }

.desk-cart__section--buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px; }

.desk-cart__footer {
  background: #464c55;
  padding: 0 100px; }

.desk-cart__footer .main-footer__phone-subtext {
  color: #ffffff; }

.desk-cart__footer-first-line {
  height: 158px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.desk-cart__footer .main-footer__conditions-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.desk-cart__footer .main-footer__conditions-list-link {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7; }
  .desk-cart__footer .main-footer__conditions-list-link:hover {
    opacity: 1; }

.desk-cart__footer .main-footer__email {
  color: #ffffff; }

.desk-cart__footer .main-footer__logo-copy {
  color: #ffffff; }

.desk-cart__footer .main-footer__email {
  width: auto; }

.desk-cart__footer .main-footer__logo-copy {
  width: 100%;
  margin-left: 20px;
  padding-bottom: 4px; }

.desk-cart__footer .main-footer__conditions-list-link {
  margin-right: 20px; }

.desk-cart__footer .main-footer__conditions-list {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.desk-cart__footer-second-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.desk-cart__footer-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 276px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.cart-order-contains {
  width: 340px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.05); }

.cart-order-contains__list {
  margin: 0;
  padding: 0; }

.cart-order-contains__header {
  margin: 0;
  margin-bottom: 30px; }

.cart-order-contains__list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.cart-order-containts__good-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; }

.cart-order-containts__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #73798c; }

.cart-order-containts__good-price-old {
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  text-decoration: line-through;
  color: #73798c; }

.cart-order-containts__good-price {
  font-size: 16px;
  line-height: 22px;
  text-align: right; }

.cart-order-contains__sum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold; }

.do-payment-cover {
  background: #f1f2f5;
  border-radius: 10px;
  padding: 30px 40px; }

.do-payment-type__list-item {
  margin-bottom: 12px; }

.do-payment-type__input + label {
  position: relative;
  padding-left: 30px; }
  .do-payment-type__input + label::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0; }

.do-payment-type__input:checked + label {
  position: relative;
  padding-left: 30px; }
  .do-payment-type__input:checked + label::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 1px solid #f96900;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0; }
  .do-payment-type__input:checked + label::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #f96900;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 6px;
    top: 6px; }

.do-payment-type__input + .g-pay-img,
.do-payment-type__input + .card-pay-img,
.do-payment-type__input:checked + .g-pay-img,
.do-payment-type__input:checked + .card-pay-img {
  padding-left: 68px; }

.g-pay-img,
.card-pay-img {
  background-image: url("../../images/card.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 34px; }

.g-pay-img {
  background-image: url("../../images/g-pay.png"); }

.desk-cart__section--two-parts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.desk-cart__form {
  width: 700px; }

.cart-label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 160px;
  margin-right: 20px;
  display: inline-block; }

.cart-label__cover {
  position: relative;
  margin-bottom: 20px; }

.cart-input {
  padding: 9px 16px;
  border: 1px solid #d1d3d9;
  box-sizing: border-box;
  border-radius: 5px;
  width: 270px; }

.desk-cart__range {
  position: relative;
  width: 360px;
  background-color: #73798c;
  height: 4px; }

.desk-cart__range-line--orange {
  background: #f96900;
  width: 45%;
  position: absolute;
  height: 4px;
  top: 0; }

.desk-cart__range-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(115, 121, 140, 0.25);
  top: -12px;
  left: 45%; }

.cart-form__bonus {
  width: 90px;
  height: 40px;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  margin-left: 48px;
  margin-right: 16px; }

.cart-form__bonus::-webkit-outer-spin-button,
.cart-form__bonus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0; }

.desk-cart__range-inner-cover {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px; }
