.do-delivery-change-popup-backdrop {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: stretch;
}
.do-delivery-change-popup__close-button {
  width: 47px;
  height: 47px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 0;
  &::after {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    left: 8px;
    top: 0px;
    height: 2px;
    transform: rotate(45deg);
    background-color: #000;
  }
  &::before {
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    left: 8px;
    top: 2px;
    transform: rotate(-45deg);
    background-color: #000;
  }
}
.do-delivery-change-popup {
  margin-top: auto;
  position: relative;
  background-color: #f3f3f7;
  flex-grow: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.do-delivery-change__amount {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.do-delivery-change__question {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
}
.do-delivery-change__input {
  border: 1px solid #f96900;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 25px;
  margin-bottom: 22px;
  width: 100%;
}
.do-delivery-change__button-save {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
