.cart-order-contains {
  width: 340px;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0px 5px 55px rgba(0, 0, 0, 0.05);
}
.cart-order-contains__list {
  margin: 0;
  padding: 0;
}
.cart-order-contains__header {
  margin: 0;
  margin-bottom: 30px;
}
.cart-order-contains__list-item {
  display: flex;
  justify-content: space-between;
}
.cart-order-containts__good-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.cart-order-containts__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #73798c;
}
.cart-order-containts__good-price-old {
  font-size: 14px;
  line-height: 19px;

  text-align: right;
  text-decoration: line-through;

  color: #73798c;
}
.cart-order-containts__good-price {
  font-size: 16px;
  line-height: 22px;

  text-align: right;
}
.cart-order-contains__sum {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
//payment
.do-payment-cover {
  background: #f1f2f5;
  border-radius: 10px;
  padding: 30px 40px;
}
.do-payment-type__list-item {
  margin-bottom: 12px;
}
.do-payment-type__input + label {
  position: relative;
  padding-left: 30px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 1px solid #cbcbcb;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
}
.do-payment-type__input:checked + label {
  position: relative;
  padding-left: 30px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    background-color: #ffffff;
    border: 1px solid #f96900;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 0;
    top: 0;
  }
  &::after {
    position: absolute;
    display: block;
    content: "";
    background-color: #f96900;

    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 6px;
    top: 6px;
  }
}
.do-payment-type__input + .g-pay-img,
.do-payment-type__input + .card-pay-img,
.do-payment-type__input:checked + .g-pay-img,
.do-payment-type__input:checked + .card-pay-img {
  padding-left: 68px;
}
.g-pay-img,
.card-pay-img {
  background-image: url("../../images/card.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 34px;
}
.g-pay-img {
  background-image: url("../../images/g-pay.png");
}
