// "desk-cart__range">
// 						<div class="desk-cart__range-line--orange"></div>
// 						<div class="desk-cart__range-circle"></div>
// 						<div class="desk-cart__range-line"></div>
.desk-cart__range {
  position: relative;
  width: 360px;
  background-color: #73798c;
  height: 4px;
}

.desk-cart__range-line {
}
.desk-cart__range-line--orange {
  background: #f96900;
  width: 45%;
  position: absolute;
  height: 4px;
  top: 0;
}
.desk-cart__range-circle {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(115, 121, 140, 0.25);
  top: -12px;
  left: 45%;
}
.cart-form__bonus {
  width: 90px;
  height: 40px;
  text-align: right;
  font-size: 16px;
  line-height: 22px;
  margin-left: 48px;
  margin-right: 16px;
}
.cart-form__bonus::-webkit-outer-spin-button,
.cart-form__bonus::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}
.desk-cart__range-inner-cover {
  display: flex;
  align-items: center;
  margin-bottom: 70px;
}
