.desk-cart {
  padding-left: 100px;
  padding-right: 100px;
}
.goods-list-item__img {
  width: 64px;
  height: 64px;
}

.desk-cart__good-nam {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.desk-cart__good-description {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  /* Gray dark */

  color: #73798c;
}
.desk-cart__goods-list {
  border-top: 1px solid #e5e5e5;
}
.desk-cart__goods-list-item {
  display: flex;
  justify-content: space-between;
}
.goods-list-item__full-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}
.desk-cart__good-name,
.desk-cart__good-description {
  margin: 0;
}
.goods-list-item__button-remove-item {
  background-color: transparent;
  border: none;
  background-image: url("../../images/svg-trash.svg");
  background-repeat: no-repeat;
  width: 14px;
  height: 18px;
  background-size: contain;
}
.goods-list-item__button-remove-item:hover {
  background-image: url("../../images/svg-trash-active.svg");
}
.desk-cart__section {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.desk-cart__goods-list-item {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 25px;
  padding-top: 25px;
}
.desk-card__change-amount-btn {
  padding: 6px 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-right: 0;
  margin-top: 16px;
}
.desk-cart__wanna-add-qstn-list {
  display: flex;
}
.desk-cart__wanna-add-qstn-list .do-product-card {
  margin-right: 20px;
}
.souce-list-item__name {
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
}
.desk-cart__souce-list-item {
  width: 130px;
  height: 200px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  border: 1px solid #e1e1e8;
  box-sizing: border-box;
  border-radius: 10px;
}
.desk-cart__souce-list {
  display: flex;
}
.souce-list-item__img {
  width: 64px;
  height: 64px;
}
.desk-cart__souce-list-item .button-add-to-cart {
  margin-right: 0;
}
.desk-cart__souce-list-item .do-basket-first__change-amount-cover,
.desk-cart__souce-list-item .button-add-to-cart {
  margin-top: auto;
}
.do-basket-first__change-amount-cover {
  width: 96px;
  height: 32px;
}
.do-basket-first__goods-amount {
  padding-top: 4px;
}
.desk-card__promo-cover {
  width: 190px;
}

.desk-cart__order-price {
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  text-align: right;
}
.order-price {
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;

  color: #f96900;
}
// .desk-cart__section-total-price {
// }
.desk-cart__button {
  padding: 13px 38px;
  border-radius: 50px;
  border: none;
  position: relative;
}
.desk-cart__get-back {
  color: #73798c;
  background: #f3f3f7;
  padding-left: 60px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #73798c;
    border-top: none;
    border-right: none;
    transform: rotate(45deg);
    left: 20px;
    top: 14px;
  }
}
.desk-cart__to-second-page {
  color: #ffffff;
  background-color: #f96900;
  padding-right: 60px;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 2px solid #ffffff;
    border-top: none;
    border-right: none;
    transform: rotate(226deg);
    right: 20px;
    top: 14px;
  }
}
.desk-cart__section--buttons {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.desk-cart__footer {
  background: #464c55;
  padding: 0 100px;
}
.desk-cart__footer .main-footer__phone-subtext {
  color: #ffffff;
}
.desk-cart__footer-first-line {
  height: 158px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.desk-cart__footer {
  & .main-footer__conditions-list {
    display: flex;
  }
  & .main-footer__conditions-list-link {
    text-decoration: none;
    color: #ffffff;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  & .main-footer__email {
    color: #ffffff;
  }
  & .main-footer__logo-copy {
    color: #ffffff;
  }
  & .main-footer__email {
    width: auto;
  }
  & .main-footer__logo-copy {
    width: 100%;
    margin-left: 20px;
    padding-bottom: 4px;
  }
  & .main-footer__conditions-list-link {
    margin-right: 20px;
  }
  & .main-footer__conditions-list {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
.desk-cart__footer-second-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desk-cart__footer-logo {
  display: flex;
  justify-content: space-between;
  width: 276px;
  align-items: center;
}
