.desk-cart-header {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 29px;
  border-bottom: 1px solid #e5e5e5;
}
.desk-cart-header__status-list {
  display: flex;
  margin: 0;
  padding: 0;
}
.status-list-item__number,
.status-list-item__status {
  margin: 0;
}
.status-list-item__number {
  border: 1px solid #000;
  text-align: center;
  border-radius: 50%;
  padding: 7px 11px 4px;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  height: 20px;
}
.desk-cart-header__status-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.status-list-item__status {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}
.desk-cart-header__status-list-item {
  position: relative;
  &::after {
    border-bottom: 1px dashed #aeadae;
  }
}
.goods-list-item__full-price {
  margin: 0;
}
.desk-cart__section-header {
  margin-top: 60px;
}
.desk-cart-header__status-list {
  width: 300px;
  justify-content: space-between;
}
.desk-cart-header__status-list-item {
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    height: 1px;
    width: 114px;
    border-bottom: 1px dashed #aeadae;
    z-index: -1;
    top: 15px;
  }
}
.status-list-item__number {
  position: relative;
  z-index: 2;
}
