.do-buttons-radio {
  display: flex;
  background-color: #e1e1e8;
  padding: 4px;
  border-radius: 100px;
}

.do-buttons-radio-item {
  padding-top: 8px;
  padding-bottom: 8px;
  border: none;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  border-radius: 100px;
  background-color: #e1e1e8;
  &:focus {
    outline: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
}
.do-buttons-radio-item--active {
  background-color: #ffffff;
}
