.do-card-descripted {
  display: flex;
  flex-direction: row;
  padding-bottom: 18px;
  padding-top: 16px;
  border-bottom: 1px solid rgb(197, 197, 197);
  &:last-of-type {
    border-bottom: none;
  }
}

.do-card-descripted__text-cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}
.do-card-descripted__caption {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  max-width: 143px;
  margin: 0;
  margin-bottom: 6px;
}
.do-card-descripted__text {
  margin: 0;
  margin-bottom: 8px;
  font-size: 12px;
  line-height: 16px;
  width: 156px;
}
.do-card-descripted__buttons-cover {
  display: none;
}

@media (min-width: 768px) {
  .do-card-descripted__buttons-cover {
    display: flex;
    margin-top: auto;
    justify-content: space-between;
    width: 100%;
  }
  .button-add-to-cart {
    margin-right: 20px;
  }
}

@media (min-width: 1024px) {
  .do-card-descripted__text-cover {
    height: 100%;
  }
}
