.delivery__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-right: 10px;
}
.delivery-cover {
  display: flex;
}
.delivery__city {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #f96900;
  margin: 0;
}
.deliver-rate__cover {
  display: flex;
}
.delivery__rate-hover {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  &::after {
    display: block;
    position: absolute;
    content: "";
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: black;
    top: 5px;
    left: 10px;
  }
}
.delivery__time {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}
.delivery__rate {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin: 0;
  position: relative;
  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    top: 0;
    right: -20px;
    background-image: url("../../images/star.svg");
    background-size: contain;
  }
}
.delivery__rate-hover {
  margin: 0;
}

.do-main-header__nav-side-top {
  display: flex;
}
.logo-cover,
.delivery-cover {
  margin-right: 14%;
}
.do-main-header--desktop {
  display: flex;
}
.do-main-header__buttons-cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.do-main-header__button-login {
  background-color: #f3f3f7;
  color: black;
  border-radius: 1000px;
  padding: 6px 15px;
  border: none;
  box-sizing: border-box;
}
.do-main-header__button-cart {
  margin-bottom: 38px;
}
.do-main-header--desktop {
  display: none;
}
@media (min-width: 1024px) {
  .do-main-header--desktop {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
  }
  .main-nav__list-link {
    background-color: transparent;
    color: #000;
    padding-left: 0;
    &:hover {
      box-shadow: none;
      opacity: 0.8;
    }
    &:focus {
      text-decoration: underline;
      box-shadow: none;
    }
  }
  .main-nav__list {
    margin-top: 45px;
    margin-bottom: 38px;
  }
  .main-nav__list-item--onair::before {
    display: block;
    border-radius: 50%;
    background-color: #f96900;
    position: absolute;
    top: 15px;
    left: -10px;
    width: 5px;
    height: 5px;
    content: "";
  }
  .do-main-header--desktop {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  .do-main-header--desktop {
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
  }
}
