//serv.
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  content: "";
  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

  clip-path: inset(100%);

  display: none;
}

//buttons
ul {
  margin: 0;
  padding: 0;
}
.button {
  font-family: Nunito;
  font-weight: 600;
  border-radius: 20px;
  text-align: center;
  padding: 9px 21px;
  background-color: #f96900;
  color: #fff;
  border: none;
  //to have a look
  //margin-bottom: 10px;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  }
}
.button-cart__number {
  padding-left: 14px;
  margin-left: 11px;
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
.button-login {
  background-color: #f3f3f7;
  padding: 6px 15px;
  color: #5c6370;
  &:hover {
    color: #000;
  }
}
.button-add-to-cart {
  min-width: 96px;
  box-sizing: border-box;
  background-color: #fff0e6;
  color: #d15700;
  &:hover {
    background-color: #ffd0b2;
    color: #d55406;
  }
}
.do-product-card {
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
  border-radius: 10px;
  width: 250px;
  box-sizing: border-box;
  padding: 14px 18px;
  display: flex;
  &:hover {
    box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.1);
  }
}

.do-product-card__img {
  margin-right: 22px;
}
.do-product-card__text-cover {
  font-family: Nunito, sans-serif;
  font-size: 14px;
  line-height: 19.1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 57px;
}
.do-product-card__caption {
  font-size: 14px;
  line-height: 19.1px;
  margin: 0;
  font-weight: 600;
}

.do-product-card__price {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

//Promo
.do-big-promo__link {
  display: block;

  margin: 0px 30px;
  height: 300px;
  background-color: papayawhip;
}
.do-big-promo {
  display: block;
}
//empty cart popup
.do-popup-empty-cart {
  width: 400px;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 37px 51px;
  box-shadow: 0px 6px 25px rgba(6, 5, 50, 0.05);
}
.do-popup-empty-cart__caption {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}
.do-popup-empty-cart__text {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

//nav
.main-nav__list-link {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  line-height: 19px;
  padding-left: 10px;
  &:visited {
    color: #000000;
  }
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.85;
  }
}
.main-nav__list-link--orange {
  color: #f96900;
}
.main-nav__list-item--onair {
  position: relative;
  &::before {
    display: block;
    border-radius: 50%;
    background-color: #f96900;
    position: absolute;

    top: 8px;
    left: 0px;

    width: 5px;
    height: 5px;

    content: "";
  }
}

//phone

.do-nav-phone {
  margin: 0;
  font-family: Nunito;
  font-weight: 600;
}
.do-nav-phone__sub {
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  color: #999999;
}

//popup rating
.popup-rating {
  position: relative;
  background-color: #3a3838;
  border-radius: 10px;
  color: #fff;
  display: flex;
  width: 450px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 36px 10px 14px;
  &::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    left: 47%;
    background-color: #3a3838;
    transform: rotate(45deg);
  }
}
.popup-rating__text-conditions {
  opacity: 0.5;
}
.popup-rating__text-container {
  width: 189px;
}
.popup-rating__text-caption {
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
}
.popup-rating__text-subcaption {
  font-size: 14px;
  line-height: 19px;
}
.popup-rating__text-caption--stars {
  color: #ffd112;
}

@import "./logo.scss";
@import "./card-descripted.scss";
//do-big-promo
.do-big-promo {
  border-radius: 15px;
}
