.do-buttons-radio--pizza-size {
  margin-bottom: 12px;
  margin-top: 20px;
}
.do-buttons-radio--pizza-dough button {
  color: #a7a7a7;
}
.do-buttons-radio--pizza-dough .do-buttons-radio-item--active {
  color: #000;
}
.do-product-card-full__topings-caption {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 30px;
}
.do-product-card-full__button-extend {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  &:focus {
    outline: none;
    box-sizing: border-box;
    border: 1px solid #ec1212;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 3px solid #686868;
    transform: rotate(45deg);
    border-left: none;
    border-top: none;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 15px;
  }
}
.do-product-card-full__product-header-cover {
  position: relative;
}
.do-product-card-full__product-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin: 0;
}
.do-product-card-full__product-info-button {
  border-radius: 50%;
  background: #f0f2f5;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.do-product-card-full__toppings-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.do-product-card-full__toppings-item {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(6, 5, 50, 0.05);
  border-radius: 12px;
  width: 25%;
  width: 140px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 8px;
}
.do-product-card-full__topping-name {
  margin: 0;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  min-height: 32px;
}
.do-product-card-full__topping-price {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
  text-align: center;
}
.do-product-card-full__toppings-item {
  background-repeat: no-repeat;
  background-position: center 15px;
}
.do-product-card-full__toppings-item--checked {
  border: 2px solid #f96900;

  &::after {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f96900;
    top: 11px;
    right: 11px;
  }
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    border: 2px solid #f96900;
    border-top: none;
    border-right: none;
    top: 15px;
    right: 15px;
    transform: rotate(-45deg);
  }
}
.do-product-card-full__toppings-item--cheezy-rim {
  background-image: url("../../images/cheezy-rim.png");
  background-position: left 15px;
}
.do-product-card-full__toppings-item--mushrooms {
  background-image: url("../../images/mushrooms.png");
}
.do-product-card-full__toppings-item--brynza {
  background-image: url("../../images/brynza.png");
}
.do-product-card-full__toppings-item--chicken {
  background-image: url("../../images/chicken.png");
}
.do-product-card-full__button-cover {
  display: flex;
  padding-bottom: 30px;
}
.do-product-card-full__button {
  width: 100%;
}
.do-product-card-full__toppings-item {
  border: 2px solid transparent;
  box-sizing: border-box;
}
input:checked + .do-product-card-full__toppings-item {
  width: 140px;
  height: 150px;
  border: 2px solid #f96900;
  position: relative;
  ::before {
    display: block;
    content: "";
    position: absolute;
    width: 6px;
    height: 3px;
    border: 2px solid #f96900;
    border-top: none;
    border-right: none;
    top: 15px;
    right: 15px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  ::after {
    display: block;
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #f96900;
    top: 11px;
    right: 11px;
  }
}
.do-product-card-full__toppings-list-item {
  width: 140px;
  height: 150px;
  box-sizing: border-box;
}
