// <div class="do-login-popup">
// 		<button class="do-button-close"></button>
// 		<h2 class="do-login-popup__caption">Вход на сайт</h2>
// 		<form action="" class="do-login-popup__form">
// 			<fieldset class="do-login-popup__form-fieldset">
// 				<label for="popup-phone">Номер телефона</label>
// 				<input id="popup-phone" type="text" class="do-login-popup__input do-login-popup__input--disabled">
// 			</fieldset>
// 			<fieldset class="do-login-popup__form-fieldset">
// 				<label for="popup-phone">Код из СМС</label>
// 				<input id="popup-phone" type="text" class="do-login-popup__input do-login-popup__input--disabled">
// 			</fieldset>
// 			<div class="do-login-popup__button-cover">
// 				<button class="button" type="submit">Выслать код</button>
// 				<p class="do-login-popup__form-conditions">Продолжая, вы соглашаетесь со сбором и обработкой персональных данных
// 					и пользовательским соглашением</p>
// 			</div>

// 		</form>

.do-login-popup {
  width: 560px;
  box-sizing: border-box;
  height: 350px;
  background-color: #fff;
  padding: 30px 40px;
  position: relative;
  margin: 138px auto;
  box-shadow: 0 0 4px 5px #73798c;
}
.do-button-close--login-popup {
  background-color: red;
  position: absolute;
  top: 10px;
  right: -50px;
}
.do-login-popup__caption {
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 37px;
}
.do-login-popup__form-fieldset {
  margin: 0;
  position: relative;
  border: 0;
  padding: 0;
  margin-bottom: 20px;
}
.do-login-popup__change-phone {
  color: #f96900;
  font-family: Arial;
  background-color: transparent;
  border: none;
  position: absolute;
  border-bottom: 1px dashed #f96900;
  font-size: 14px;
  line-height: 16px;
  top: 10px;
  right: 25px;
}
.do-login-popup__input {
  font-size: 16px;
  line-height: 22px;
  margin-left: 26px;
  width: 280px;
  border: 1px solid #d1d3d9;
  padding: 9px 16px;
  box-sizing: border-box;
}
.do-login-popup__input--disabled {
  background-color: #f7f8f8;
  opacity: 0.5;
}
.do-login-popup__form {
  display: flex;
  flex-direction: column;
}
.do-login-popup__button-cover {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.do-login-popup__form-conditions {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #73798c;
  width: 250px;
}
.do-login-popup__form-conditions-link {
  text-decoration: underline;
}
.login-popup__button-submit {
  margin-right: 20px;
  width: 182px;
}
.do-login-popup__input--code {
  width: 100px;
}
.do-login-popup__form-fieldset label {
  min-width: 150px;
  display: inline-block;
}
.login-code-timer {
  font-family: Arial;
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  color: #73798c;
}
