// <header class="do-cart-header">
// 			<button class="do-cart-header__button-back"></button>
// 			<a href="#" class="do-header-logo-link">
// 				<img class="do-header-logo-link__logo" width="30" height="30" src="./images/logo.png">
// 				<img class="do-header-logo-link__text" src="./images/logo-text.png">
// 			</a>
// 			<button class="do-nav-close"><span class="visually-hidden">Close menu</span></button>
// 		</header>
.do-cart-header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f7;
}
.do-cart-header__button-back {
  display: block;
  width: 47px;
  height: 47px;
  background-color: transparent;
  position: relative;
  border: none;
  border-right: 1px solid #f3f3f7;
  &::before {
    display: block;
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 14px;
    left: 21px;
    transform: rotate(135deg);
    border: 2px solid #000;
    border-left: none;
    border-top: none;
  }
}
