.desk-cart__section--two-parts {
  display: flex;
  width: 100%;
  margin: 0;
  align-items: flex-start;
}
.desk-cart__form {
  width: 700px;
}
.cart-label {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 160px;
  margin-right: 20px;
  display: inline-block;
}
.cart-label__cover {
  position: relative;
  margin-bottom: 20px;
}
.cart-input {
  padding: 9px 16px;
  border: 1px solid #d1d3d9;
  box-sizing: border-box;
  border-radius: 5px;
  width: 270px;
}
