.do-main-body .do-mob-menu {
  padding-left: 0px;
  padding-right: 0px;
}
.do-mob-menu {
  background-color: #000000;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 45px;
}
// .do-mob-menu > * {
//   padding-left: 16px;
//   padding-right: 16px;
// }
.do-mob-menu__logo-cover {
  padding-left: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.do-button-close {
  border: none;
  background-color: transparent;
  position: relative;
  width: 30px;
  height: 30px;
  &::after {
    display: block;
    position: absolute;
    content: "";

    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  &::before {
    display: block;
    position: absolute;
    content: "";

    top: 10px;
    left: 2px;
    width: 25px;
    height: 3px;
    background-color: #fff;
    transform: rotate(-45deg);
  }
}
.do-mob-menu__stats-cover {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 16px;
  margin-left: 44px;
  max-width: 500px;
  justify-content: space-between;
}
.do-mob-menu__stats-info {
  background-color: #4c4c4c;
  border-radius: 50%;
  color: #fff;
  width: 24px;
  height: 24px;
}

.do-mob-menu__stats-time,
.do-mob-menu__stats-rate {
  margin: 0;
  font-size: 20px;
  line-height: 27px;
}
.do-mob-menu__stats-time {
  margin-right: 10px;
}
.do-mob-menu__stats-rate {
  color: #ffd112;
  margin-right: 6px;
}
.do-mob-menu__stars-list {
  display: flex;
  margin-right: 22px;
}
.do-mob-menu__list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.do-mob-menu__list-link {
  font-size: 20px;
  line-height: 27px;
  padding-top: 26px;
  display: block;
}
.do-mob-menu__list-item:last-of-type .do-mob-menu__list-link {
  padding-bottom: 26px;
}
.do-mob-menu__list-item {
  margin-left: 44px;
}
.do-mob-menu__stars-list-item {
  width: 16px;
  height: 16px;
  background-image: url("../../images/star.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.do-mob-menu__stars-list-item--half {
  background-image: url("../../images/dark-star.svg");
}
.do-mob-menu__description {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.do-mob-menu__stats-city-cover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-left: 44px;
}
.do-mob-menu__text-container {
  margin-left: 44px;
}
.do-mob-menu__stats-inner-cover {
  display: flex;
  align-items: baseline;
}
.do-mob-menu__paragraph {
  font-size: 20px;
  line-height: 27px;
  margin: 0;
  margin-top: 16px;
}
.do-mob-menu__phone,
.do-mob-menu__appstore,
.do-mob-menu__city-btn {
  position: relative;
  &::before {
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    content: "";
  }
}
.do-mob-menu__phone::before {
  width: 13px;
  height: 24px;
  background-image: url("../../images/phone-icon.png");
}
.do-mob-menu__appstore::before {
  width: 16px;
  height: 19px;
  left: -33px;
  background-image: url("../../images/apple-icon.png");
}
.do-mob-menu__city-btn::before {
  width: 10px;
  height: 16px;
  left: -25px;
  background-image: url("../../images/map-pin-icon.png");
}
