.do-product-card-full__product-ingredients-list {
  display: flex;
  flex-wrap: wrap;
}

.do-product-card-full__product-ingredients-item {
  color: #000;
}

.remove-ingredient-button {
  width: 14px;
  height: 14px;
  top: -4px;
  background-color: transparent;
  position: relative;
  border-radius: 50%;
  border: 1px solid #000;
  &::after {
    position: absolute;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #000;
    content: "";
    top: 5px;
    left: 2px;
    transform: rotate(45deg);
  }
  &::before {
    position: absolute;
    display: block;
    width: 8px;
    height: 1px;
    background-color: #000;
    content: "";
    top: 5px;
    left: 2px;
    transform: rotate(-45deg);
  }
  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(0, 0, 0, 0.2);
  }
}
