.backdrop {
  background-color: transparent;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  min-height: 100vh;
}
.do-offer-slider__cover {
  margin-top: 85px;
  position: relative;
  z-index: 1;
}
.do-offer-slider__button-close {
  position: absolute;
  top: -60px;
  left: 80vw;

  &::before {
    left: 0;
    right: 20px;
  }
  &::after {
    left: 0;
    right: 20px;
  }
}
.do-offer-slider__list {
  margin: 0;
  padding: 0;
  display: flex;
}
.do-offer-slider__list-item {
  margin-left: 20px;
  background-color: #fff;
  margin-right: 20px;
  padding: 16px;
  border-radius: 15px;
}

.do-offer-slider__caption {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  margin-bottom: 12px;
  line-height: 22px;
}
.do-offer-slider__offer-description {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  max-width: 255px;
}
.do-offer-slider__button {
  background-color: #fff0e6;
  color: #d15700;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: none;
  border-radius: 20px;
  margin-top: 80px;
}
