.do-more-header {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #f96900;
  margin: 0;
  margin-bottom: 20px;
}

.do-more-paragraph {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
}
.do-more__inner-cover {
  display: flex;
  flex-direction: column;
  width: 313px;
  margin-right: 43px;
}
.do-more-section--flex {
  display: flex;
}
.do-section-header--more-section {
  width: 100%;
}
.do-more-section {
  display: none;
}

@media (min-width: 768px) {
  .do-more-section {
    display: block;
    margin-bottom: 70px;
  }
}
